@charset ''UTF8'';

body{
    background-color: aquamarine;
    font-family: serif;
}
h1{
    color: rgb(47, 77, 67);
}
h2{
    color: rgb(0, 0, 0);
}
p{
    color: rgb(255, 255, 255);
    text-align: justify;
}
h1#principal{
    text-align: center;
    color: rgb(255, 0, 0);
    background-color: black;
    width: 500px;
    margin: auto;
}
h1.basico{
    background-color: brown;
}
.avançado{
    background-color: green ;
}