@charset "utf-8";
body.primeiro{
    background-image: url(imagens/wallpaper005.jpg);
}
body#segundo{
    background-image: url(imagens/wallpaper003.jpg);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

div.quadrado{
    display: inline-block;
    border-radius: 10px;
    background-color: lightgray;
    border: 2px solid black;
    width: 300px;
    height: 300px;
}
div#q1{
    background-color: aquamarine;
}
div#q2{
    background-image: linear-gradient(45deg, black, yellow, red);
    background-attachment: fixed;
}
div#q3{
    background-image: url('imagens/pattern003.png');
}
div.bloco{
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    background-image: url(imagens/wallpaper003.jpg);
}
div#q12{
    background-position: right top;
}
div#q23{
    background-position: center center;
}
div#q34{
    background-position: right bottom;
}
    
div#q45{
    background-position: left top;
}
body#imgindiv{
    background-image: url(imagens/wallpaper003.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 98vh;
}
body#body6{
    height: 100vh;
    background: gray url(imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
    
    
}
#body6 > main{
    background-color: aqua;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black
}
section#container{ 
    position: relative;/* para fazer ele ser relativo ou seja, submisso ao conteudo*/
    height: 96vh;
    background-color: blue;
    padding: 10px;



}
article#conteudo{
    position: absolute; /* para fazer ele ser absoluto ao relativo que é o filho*/
    height: 100px;
    background-color: red;
    width: 400px;

    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);
}